{% extends 'layout/base.html' %}

{% block content_head %}
	<script>
		$(document).ready(function(){
			{% for sensor in sensors %}
				var interval_{{ sensor.pk }};
			{% endfor %}
			function generate_number(id){
				value = Math.round(Math.random()*(200-0)+0);
				$('.value_'+id).remove();
				$('.data_'+id).append('<h4 class="value_'+id+'">Value: '+value+'</h4>');
				$.ajax({
					url: "{% url 'send_data_sensor' %}",
					data: {'sensor_id': id, 'value_sensor': value},
					dataType: 'json',
				}).done(function (results){
					console.log(results.response);
				});
			}
			function value_null(id){
				value = 0;
				$('.value_'+id).remove();
				$('.data_'+id).append('<h4 class="value_'+id+'">Value: '+value+'</h4>');
				$.ajax({
					url: "{% url 'send_data_sensor' %}",
					data: {'sensor_id': id, 'value_sensor': value},
					dataType: 'json',
				}).done(function (results){
					console.log(results.response);
				});
			}
			$(".begin").click(function(event){
				id = $(this).attr('id');
				$('.begin_'+id).css('display', 'none');
				$('.stop_'+id).css('display', 'inline');
				$('.pause_'+id).css('display', 'inline');
				{% for sensor in sensors %}
					if(id == {{ sensor.pk }}){
						clearInterval(interval_{{ sensor.pk }});
						interval_{{ sensor.pk }} = setInterval(generate_number, 3000, id);
					}
				{% endfor %}
				event.preventDefault();
			});
			$(".pause").click(function(event){
				id = $(this).attr('id');
				$('.stop_'+id).css('display', 'inline');
				$('.pause_'+id).css('display', 'none');
				$('.begin_'+id).css('display', 'inline');
				{% for sensor in sensors %}
					if(id == {{ sensor.pk }}){
						clearInterval(interval_{{ sensor.pk }});
						interval_{{ sensor.pk }} = setInterval(value_null, 3000, id);
					}
				{% endfor %}
				event.preventDefault();
			});
			$(".stop").click(function(event){
				id = $(this).attr('id');
				$('.stop_'+id).css('display', 'none');
				$('.pause_'+id).css('display', 'none');
				$('.begin_'+id).css('display', 'inline');
				{% for sensor in sensors %}
					if(id == {{ sensor.pk }}){
						clearInterval(interval_{{ sensor.pk }});
						$('.value_'+id).remove();
					}
				{% endfor %}
				event.preventDefault();
			});
		});
	</script>
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	<div class="right_col" role="main">
		<div class="">
			<div class="row">
				<div class="page-title">
					<div class="title_left">
						<h3>Sensor data simulator</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="text-center">
					{% for sensor in sensors %}
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Space {{ sensor.space.name }} <small>{{ sensor.name }}</small></h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="row">
										<div class="data_{{ sensor.pk }}"></div>
									</div>
									<div class="clearfix"></div>
									<div class="row">
										<a href="#" class="btn btn-success begin begin_{{ sensor.pk }}" id="{{ sensor.pk }}">Start</a>
										<a href="#" class="btn btn-default pause pause_{{ sensor.pk }}" id="{{ sensor.pk }}">Pause</a>
										<a href="#" class="btn btn-danger stop stop_{{ sensor.pk }}" id="{{ sensor.pk }}">Stop</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
