.blue-light{
	background-color: #3498db;
}
#red{
	background-color: #e74c3c;
}
#green{
	background-color: #2ecc71;
}
#yellow{
	background-color: #f1c40f;
}
#white{
	background-color:  #f5f5f5;
	color: black;
}
.dark{
	background-color: #2c3e50;
}
.pause, .stop{
	display: none;
}
.blue-light, .dark, #red, #green, #yellow{
	color: white;
	padding: 5px;
}
.title{
	color: #ADADAD;
}