{% extends 'layout/base.html' %}

{% block content %}
	{% include 'elements/nav.html' %}
	<div class="right_col" role="main">
		<div class="">
			<div class="row">
				<div class="page-title">
					<div class="title_left">
						<h3>Sensor Graph</h3>
					</div>
				</div>
			</div>
			<div class="row tile_count">
				<div class="animated flipInY col-md-3 col-sm-4 col-xs-4 tile_stats_count">
					<div class="left"></div>
					<div class="right">
						<span class="count_top">
							<i class="glyphicon glyphicon-list-alt"></i> Average value
						</span>
						<div class="count">{{ value_last }}</div>
						<span class="count_bottom">
							<i class="{{ param.type }}"><i class="fa fa-sort-{{ param.ord }}"></i>{{ value_avg }}%</i>
							From last two days
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}