{% extends 'layout/base.html' %}

{% block content_head %}
	<script>
	function Statespace(){
		{% for space in spaces %}
			var jsonData = $.ajax({
				url: "{% url 'state_space' %}",
				data: {'space': {{ space.pk }}},
				dataType: 'json',
			}).done(function (results){
				$('.state_'+results.space_tag).removeAttr('id');
				$('.state_'+results.space_tag).children().remove();
				$('.state_'+results.space_tag).append('<h3>'+results.text+': '+results.value+'</h3>');
				$('.state_'+results.space_tag).attr('id', results.id);
				console.log(results.space_tag, results.value, results.text, results.id);
			});
		{% endfor %}
	}
	setInterval(Statespace, 6000);
	Statespace();
	</script>
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	<div class="right_col" role="main">
		<div class="">
			<div class="row">
				<div class="page-title">
					<div class="title_left">
						<h3>Welcome to Dashboard</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="text-center">
					{% for area in areas %}
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="x_panel">
							<div class="x_title">
								<h2>{{ area.name }}</h2>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								{% for space in spaces %}
									{% if space.area == area %}
										<a href="{% url 'space' space.space_tag %}">
											<div class="col-md-6">
												<div class="col-md-12 state_{{ space.space_tag }}"></div>
												<div class="dark">
													{{ space }}
												</div>
											</div>
										</a>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					{% empty %}
						<div class="col-md-12">
							<div class="content-box-large">
								<div class="panel-body">
									<h1>Area Not Found</h1>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}