{% extends 'layout/base.html' %}

{% block content_head %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script>
		function drawChart(){
			{% for sensors in sensor %}
			var jsonData = $.ajax({
				url: "{% url 'data_sensor' %}",
				data: {'sensor_id': {{ sensors.pk }}},
				dataType: 'json',
			}).done(function (results){
				if(results != ''){
					$('#chart_{{ sensors.pk }}').children().remove();
					$('#chart_{{ sensors.pk }}').append('<div id="graph_{{ sensors.pk }}"></div>');
					d_sensor = [];
					$.each(results, function (i, row) {
						val = [row.hour, row.value]
						d_sensor.push(val);
				});
					var chart_data = new google.visualization.DataTable();
					chart_data.addColumn('number', 'X');
					chart_data.addColumn('number', 'Value');
					chart_data.addRows(d_sensor);
					var chart =  new google.visualization.AreaChart(document.getElementById('graph_{{ sensors.pk }}'));
					chart.draw(chart_data, {
						title: 'Sensor {{ sensors.name }}',
						hAxis: {
							title: 'Hour'
						},
						vAxis: {
							title: 'Value'
						}
					});
				}else{
					$('#chart_{{ sensors.pk }}').children().remove();
					$('#chart_{{ sensors.pk }}').append('<h3>Data no found to graph</h3>');
				}
			});
			{% endfor %}
		}
		function chart_all(){
			
		}
		chart_all();
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
		setInterval(drawChart, 6000);
	</script>
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	<div class="right_col" role="main">
		<div class="">
			<div class="row">
				<div class="page-title">
					<div class="title_left">
						<h3>{{ space.name }}</h3>
					</div>
				</div>
			</div>
			<div class="row">
				{% for sensors in sensor %}
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2>{{ sensors.name }}</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div id="data-sensor"></div>
							<div id="chart_{{ sensors.pk }}">
								<div id="graph_{{ sensors.pk }}"></div>
							</div>
							<div id="chart_div"></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}